<% if @age.to_i <= 12%>
  <h1>Grow up</h1>
<% else %>
  <% @exercises.each do |exercise| %>
  <%= exercise.name %>
  <%= exercise.duration %>
<img src="<%=exercise.image %>" height="<%=exercise.image_height%>" width="<%=exercise.image_width%>">
  <br>
  <% end %>
<% end %>